<h1 class="text-center">Dashboard</h1>
<div id="chatWidget" class="col-md-offset-1 col-md-10 col-sm-12">
	<ul class="col-sm-3" style="background-color:yellow;">
		<li>User 1</li>
		<li>User 2</li>
		<li>User 3</li>
		<li>User 4</li>
		<li>User 5</li>
		<li>User 6</li>
		<li>User 7</li>
		<li>User 8</li>
		<li>User 9</li>
		<li>User 10</li>
	</ul>
	<section id="chat" class="col-sm-9" style="background-color: red;">

	</section>
</div>